.App {
    background: linear-gradient(116.38deg,
            rgba(4, 23, 192, 0.21) 28.95%, rgba(148, 14, 151, 0.1491) 99.27%, rgba(201, 180, 226, 0) 100.51%, rgba(198, 232, 230, 0) 100.51%);
    ;
    min-height: 105vh;
}

.header {
    background: #7d579587;
}

.login-page {
    padding: 8% 0 0;
    margin: auto;
}